<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--servlet配置-->
<!--    <servlet>-->
<!--        <servlet-name>myStatus</servlet-name>-->
<!--        <servlet-class>site.monitor.VisitorMonitor</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>myStatus</servlet-name>-->
<!--        <url-pattern>/myStatus</url-pattern>-->
<!--    </servlet-mapping>-->
<!--filter配置-->
    <!--编码Filter-->
<!--    <filter>-->
<!--        <filter-name>encodingFilter</filter-name>-->
<!--        <filter-class>site.filter.master.EncodingFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>encodingFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
    <!--登录请求参数Filter-->
<!--    <filter>-->
<!--        <filter-name>LoginReqFilter</filter-name>-->
<!--        <filter-class>site.filter.account.LoginReqParameterFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>LoginReqFilter</filter-name>-->
<!--        <url-pattern>/account/login</url-pattern>-->
<!--    </filter-mapping>-->
    <!--注册请求参数Filter-->
<!--    <filter>-->
<!--        <filter-name>RegisterReqFilter</filter-name>-->
<!--        <filter-class>site.filter.account.RegisterReqParameterFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>RegisterReqFilter</filter-name>-->
<!--        <url-pattern>/account/register</url-pattern>-->
<!--    </filter-mapping>-->
    <!--是否登录Filter-->
<!--    <filter>-->
<!--        <filter-name>isLoggedFilter</filter-name>-->
<!--        <filter-class>site.filter.account.isLogged</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>isLoggedFilter</filter-name>-->
<!--        <url-pattern>/home/index.html</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>isLoggedFilter</filter-name>-->
<!--        <url-pattern>/home/chat/index.html</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>isLoggedFilter</filter-name>-->
<!--        <url-pattern>/home/plugin/index.html</url-pattern>-->
<!--    </filter-mapping>-->
<!--    &lt;!&ndash;权限Filter&ndash;&gt;-->
<!--    <filter>-->
<!--        <filter-name>AuthorityFilter</filter-name>-->
<!--        <filter-class>site.filter.account.AuthorityFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>AuthorityFilter</filter-name>-->
<!--        <url-pattern>/home/index.html</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>AuthorityFilter</filter-name>-->
<!--        <url-pattern>/home/chat/index.html</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>AuthorityFilter</filter-name>-->
<!--        <url-pattern>/home/plugin/index.html</url-pattern>-->
<!--    </filter-mapping>-->
<!--    &lt;!&ndash;home转发Filter&ndash;&gt;-->
<!--    <filter>-->
<!--        <filter-name>HomeFilter</filter-name>-->
<!--        <filter-class>site.filter.account.HomeRedirectFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>HomeFilter</filter-name>-->
<!--        <url-pattern>/home/index.html</url-pattern>-->
<!--    </filter-mapping>-->
<!--    &lt;!&ndash;chat转发Filter&ndash;&gt;-->
<!--    <filter>-->
<!--        <filter-name>ChatFilter</filter-name>-->
<!--        <filter-class>site.filter.account.ChatRedirectFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>ChatFilter</filter-name>-->
<!--        <url-pattern>/home/chat/index.html</url-pattern>-->
<!--    </filter-mapping>-->
<!--    &lt;!&ndash;plugin转发Filter&ndash;&gt;-->
<!--    <filter>-->
<!--        <filter-name>pluginFilter</filter-name>-->
<!--        <filter-class>site.filter.account.PluginRedirectFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>pluginFilter</filter-name>-->
<!--        <url-pattern>/home/plugin/index.html</url-pattern>-->
<!--    </filter-mapping>-->
</web-app>